{% extends '../base.html' %}

{% block content %}

<!-- ================ SECTION INTRO ================ -->
{% include './section-intro.html' %}
<!-- ================ SECTION INTRO END.// ================ -->

<!-- ============== SECTION CONTENT  ============== -->
{% include './section-content.html' %}
<!-- ============== SECTION CONTENT END// ============== -->

<!-- ============== SECTION BANNER  ============== -->
{% include './section-banner.html' %}
<!-- ============== SECTION BANNER END// ============== -->

<!-- ============== SECTION DISCOUNTED  ============== -->
{% include './section-discounted.html' %}
<!-- ============== SECTION DISCOUNTED END// ============== -->

{% endblock %}