<!-- ===== wrap filter ===== -->
<aside class="md:col-3 mb-8">

    <button class="btn btn-default mb-3 w-100% md:hidden" onclick="showHide('aside_filter')">
        Show/Hide filters
    </button>


    <div id="aside_filter" class="hidden md:d-block pr-4">
        <form method="get" action="{% url 'home' %}" class="d-grid gap-3">
            <input type="hidden" name="sort" value="{{ selected_sort }}">
            <details open class="mb-6">
                <summary class="font-semibold text-lg"> Категорії</summary>
                <div class="pt-3">
                    <!-- content -->
                    {% for category in categories %}
                    <label class="form-check mb-2">
                        <input
                                class="form-check-input"
                                name="category"
                                type="checkbox"
                                value="{{ category.slug }}"
                                {% if category.slug in selected_categories %}checked{% endif %}>
                        <span class="form-check-label"> {{ category.name }} </span>
                    </label>
                    {% endfor %}
                    <!-- content .// -->
                </div>
            </details> <!-- filter-group // -->

            <details open class="mb-6">
                <summary class="font-semibold text-lg"> Автори</summary>
                <div class="pt-3">
                    <!-- content -->
                    {% for author in authors %}
                    <label class="form-check mb-2">
                        <input
                                class="form-check-input"
                                name="author"
                                type="checkbox"
                                value="{{ author.slug }}"
                                {% if author.slug in selected_authors %}checked{% endif %}>
                        <span class="form-check-label"> {{ author }} </span>
                    </label>
                    {% endfor %}
                    <!-- content .// -->
                </div>
            </details> <!-- filter-group // -->

            <details open class="mb-6">
                <summary class="font-semibold text-lg"> Ціна</summary>
                <div class="pt-3">
                    <!-- content -->
                    <input disabled type="range" class="w-100%" min="0" max="100">
                    <div class="d-flex gap-4 justify-content-between my-3">
                        <div>
                            <label class="text-secondary">Мінімальна</label>
                            <input disabled class="form-control" id="min" placeholder="$0" type="number">
                        </div>
                        <div>
                            <label class="text-secondary">Максимальна</label>
                            <input disabled class="form-control" id="max" placeholder="$1,0000" type="number">
                        </div>
                    </div> <!-- row end.// -->
                    <div class="d-inline-flex gap-2">
                        <button class="btn btn-primary-subtle w-100%" type="submit">Примінити</button>
                        <a href="{% url 'home' %}" class="btn btn-default">Скинути</a>
                    </div>

                    <!-- content .// -->
                </div>
            </details> <!-- filter-group // -->
        </form>
    </div> <!-- wrap filter.//end -->
    <!-- ===== Card for sidebar filter .// ===== -->
    <!-- ===== wrap filter ===== -->

    <!-- wrap filter.//end -->
    <!-- ===== Card for sidebar filter .// ===== -->

</aside> <!-- col .// -->