<!-- ================ SECTION INTRO ================ -->
<section class="mb-5">
    <div class="container">
        <main>
            <figure class="h-100  max-sm:h-120 max-lg:h-80 rounded banner">
                <figcaption class="lg:p-16 md:p-10 p-6 relative z-10">
                    <h2 class="lg:text-6xl md:text-5xl text-3xl  mb-2 text-red-900"
                        style="font-family:'Times New Roman', Times, serif;">Дуже Інформативний <br> Та помітний банер
                    </h2>
                    <p class="text-xl font-normal mb-6">Ще якийсь цікавий текст</p>

                    <a href="#" class="btn btn-default border-0">Певно кнопка для інфо</a>
                </figcaption>
                <picture>
                    <source media="(max-width:720px)" srcset="images/banners/main-wide-shoes-mobile.png">
                    <img src="images/banners/main-wide-shoes.png" class="img-bg">
                </picture>
            </figure>
        </main>
    </div> <!-- container end.// -->
</section>
<!-- ================ SECTION INTRO END.// ================ -->