<article class="lg:pl-3">

    <h4 class="mt-2"> {{ book.title }} </h4>
    {% include "../partials/product-rating-inline.html" %}

    <dl class="d-flex">
        <dt class="text-muted w-20">ISBN:</dt>
        <dd>{{ book.ISBN }}</dd>
    </dl>
    <dl class="d-flex">
        <dt class="text-muted w-20">Автор:</dt>
        <dd>{{ book.author }}</dd>
    </dl>

    <hr>
    {% include "../partials/product-quantity.html" %}
    {% include "../partials/product-price.html" %}
    {% include "../partials/product-actions.html" %}

</article>