<p class="form-label font-medium mb-2">Кількість: </p>

<div class="d-inline-flex rounded  border-primary mb-5">
    <button disabled class="btn btn-icon btn-primary-subtle rounded-right-0"
            style="margin-right:-1px"
            type="button">
        <svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
            <path d="M19 13H5v-2h14v2z"></path>
        </svg>
    </button>
    <input disabled class="form-control rounded-0 relative z-10 text-center max-w-12 flex-shrink"
           placeholder="0" value="1">
    <button disabled class="btn btn-icon btn-primary-subtle rounded-left-0" style="margin-left:-1px"
            type="button">
        <svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
        </svg>
    </button>
</div>
