{% load i18n %}
<footer class="bg-neutral-100 border-top">
    <section class="py-12 links-secondary container d-grid gap-5 grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
        <div>
            <h6 class="mb-3">{% trans 'Company' %}</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="{% url 'about' %}">{% trans 'About us' %}</a></li>
                <li><a href="#">{% trans 'Investors' %}</a></li>
                <li><a href="#">{% trans 'Careers' %}</a></li>
                <li><a href="#">{% trans 'Blog and news' %}</a></li>
                <li><a href="#">{% trans 'Partners' %}</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">{% trans 'Buyers' %}</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="#">{% trans 'Find store' %}</a></li>
                <li><a href="#">{% trans 'Registration' %}</a></li>
                <li><a href="#">{% trans 'Partnerships' %}</a></li>
                <li><a href="#">{% trans 'Gift vouchers' %}</a></li>
                <li><a href="#">{% trans 'FAQ' %}</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">{% trans 'Help' %}</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="#">{% trans 'Contact us' %}</a></li>
                <li><a href="#">{% trans 'Live chat' %}</a></li>
                <li><a href="#">{% trans 'Documentation' %}</a></li>
                <li><a href="#">{% trans 'Download' %}</a></li>
                <li><a href="#">{% trans 'Versions' %}</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">{% trans 'Service' %}</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="#">{% trans 'Safe purchase' %}</a></li>
                <li><a href="#">{% trans 'Logistics service' %}</a></li>
                <li><a href="#">{% trans 'Refunds' %}</a></li>
                <li><a href="#">{% trans 'Payment methods' %}</a></li>
                <li><a href="#">{% trans 'Delivery terms' %}</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">{% trans 'Languages' %}</h6>
            <ul class="nav nav-col gap-2">
                <li><span>Українська</span></li>
                <li><span>English</span></li>
            </ul>
        </div>

    </section>
    <hr class="my-0">
    <section class="text-center py-6">
        <p class="fs-sm text-secondary">{% trans 'Copyright © 2026 Hillel Book Shop. All rights reserved.' %}</p>
    </section>
</footer>
