<footer class="bg-neutral-100 border-top">
    <section class="py-12 links-secondary container d-grid gap-5 grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
        <div>
            <h6 class="mb-3">Company</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="{% url 'about' %}">Про нас</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blogs and news</a></li>
                <li><a href="#">Example</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">Buyers</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="#">Find store</a></li>
                <li><a href="#">Registration</a></li>
                <li><a href="#">Partnerships</a></li>
                <li><a href="#">Gift vouchers</a></li>
                <li><a href="#">Example</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">Help</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Live chat</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">Versions</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">Service</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="#">Safe purchase</a></li>
                <li><a href="#">Logistics service</a></li>
                <li><a href="#">Refund</a></li>
                <li><a href="#">Example link</a></li>
                <li><a href="#">Something</a></li>
            </ul>
        </div>
        <div>
            <h6 class="mb-3">Language</h6>
            <ul class="nav nav-col gap-2">
                <li><a href="#">Español</a></li>
                <li><a href="#">Português</a></li>
                <li><a href="#">Deutsch</a></li>
                <li><a href="#">日本語</a></li>
            </ul>
        </div>

    </section>
    <hr class="my-0">
    <section class="text-center py-6">
        <p class="fs-sm text-secondary">Copyright © 1995-2025 Ecommerce-ui Inc. All Rights Reserved </p>
    </section>
</footer>