<header class="border-bottom">

    <section class="bg-neutral-100 py-2">
        <div class="container">
            <div class="d-flex justify-content-between max-sm:text-sm">
                <p class="text-secondary">вул. Неважлива, Одеса, Україна</p>
                <div class="gap-4 d-flex">
                    <a href="#" class="text-secondary">Звʼязатися з нами</a>
                    <a href="#" class="text-secondary">Українська | HRN </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container max-sm:px-">
            <div class="d-flex max-sm:flex-wrap py-4  gap-2 align-items-center justify-content-between">
                <!-- header logo -->
                <div class="d-flex align-items-center mr-4">
                    <button class="btn btn-default btn-icon mr-2 sm:d-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                             color="currentColor" fill="none">
                            <path d="M4 5L20 5" stroke="currentColor" stroke-width="2"></path>
                            <path d="M4 12L20 12" stroke="currentColor" stroke-width="2"></path>
                            <path d="M4 19L20 19" stroke="currentColor" stroke-width="2"></path>
                        </svg>
                    </button>
                    <!-- brand-logo -->
                    <a href="{% url 'catalog' %}"
                       class="d-block flex-shrink-0 hover:opacity-80 d-flex text-decoration-none align-items-center m-0">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_i_6094_3195)">
                                <path d="M28 0H8C3.58172 0 0 3.58172 0 8V28C0 32.4183 3.58172 36 8 36H28C32.4183 36 36 32.4183 36 28V8C36 3.58172 32.4183 0 28 0Z"
                                      fill="url(#paint0_linear_6094_3195)"/>
                                <path d="M11.4457 12.7368L11.4898 12.7368L24.5543 12.7368C24.9864 12.7368 25.3802 12.7367 25.6954 12.7802C26.0419 12.8281 26.411 12.9425 26.6861 13.2595C26.9582 13.5731 27.0089 13.9365 26.9988 14.2668C26.9895 14.572 26.9232 14.9454 26.8493 15.3612L26.8493 15.3612L25.7785 21.3919L25.7785 21.392C25.6093 22.3447 25.4725 23.1154 25.2842 23.7179C25.0886 24.3439 24.8164 24.8628 24.3267 25.2633C23.835 25.6655 23.2563 25.8401 22.5804 25.9219C21.9337 26 21.1256 26 20.1324 26H20.1323H15.8677H15.8676C14.8744 26 14.0663 26 13.4196 25.9219C12.7437 25.8401 12.165 25.6655 11.6733 25.2633C11.1836 24.8628 10.9114 24.3439 10.7158 23.7179C10.5275 23.1154 10.3907 22.3447 10.2215 21.392L9.15774 15.4009L9.15068 15.3612C9.07682 14.9455 9.01045 14.572 9.00117 14.2668C8.99112 13.9365 9.04183 13.5731 9.3139 13.2595C9.58896 12.9425 9.95809 12.8281 10.3046 12.7802C10.6198 12.7367 11.0136 12.7368 11.4457 12.7368Z"
                                      fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M18.2266 9.46087C16.5523 9.46087 15.195 10.769 15.195 12.3826V12.7478C15.195 13.1512 14.8557 13.4783 14.4371 13.4783C14.0185 13.4783 13.6792 13.1512 13.6792 12.7478V12.3826C13.6792 9.96216 15.7151 8 18.2266 8C20.738 8 22.7739 9.96216 22.7739 12.3826V12.7478C22.7739 13.1512 22.4346 13.4783 22.016 13.4783C21.5975 13.4783 21.2581 13.1512 21.2581 12.7478V12.3826C21.2581 10.769 19.9009 9.46087 18.2266 9.46087Z"
                                      fill="white"/>
                            </g>
                            <defs>
                                <filter id="filter0_i_6094_3195" x="0" y="0" width="36" height="44"
                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                   result="hardAlpha"/>
                                    <feOffset dy="8"/>
                                    <feGaussianBlur stdDeviation="8"/>
                                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0"/>
                                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_6094_3195"/>
                                </filter>
                                <linearGradient id="paint0_linear_6094_3195" x1="30.7059" y1="36" x2="1.58824"
                                                y2="5.29412" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF3369"/>
                                    <stop offset="1" stop-color="#7D0000"/>
                                </linearGradient>
                            </defs>
                        </svg>
                        <div style="font-size:24px;" class="max-sm:hidden text-neutral-1000 text-xl font-semibold ml-1">
                            Book<span class="text-red">jin</span></div>
                    </a>
                    <!-- brand-logo end.//-->
                </div>
                <!-- header logo end.// -->

                <!-- header button navigator -->
                <div class="relative max-sm:order-3 max-sm:w-full flex-shrink-0">
                    <button data-toggle="mymenu_1" class="btn btn-red  max-sm:w-full  has-icon-dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-menu">
                            <line x1="4" x2="20" y1="12" y2="12"></line>
                            <line x1="4" x2="20" y1="6" y2="6"></line>
                            <line x1="4" x2="20" y1="18" y2="18"></line>
                        </svg>
                        Всі категорії
                    </button>
                    <menu id="mymenu_1" hidden="" class="dropdown w-100 p-4">
                        <h6 class="mb-2">This is example large menu</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, reprehenderit unde dolores
                            vitae adipisci commodi, tempore consequuntur explicabo eveniet aut facilis quas sit! Fuga,
                            consequuntur iste harum quos labore dicta.</p>
                    </menu>
                </div>
                <!-- header button navigator end.// -->

                <!-- header search -->
                <div class="lg:flex-grow max-sm:order-2 max-sm:w-full lg:mr-5">
                    <form class="d-flex w-full mr-5">
                        <div class="relative w-full">
                            <input disabled type="search" class="form-control  rounded-right-0" list="search_suggest"
                                   placeholder="Я хочу знайти...(але поки не можу)...">
                        </div>
                        <button class="rounded-left-0 btn btn-default btn-icon" style="margin-left:-1px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <path d="m21 21-4.3-4.3"></path>
                            </svg>
                        </button>
                    </form>
                </div>

                <div class="d-flex gap-1 lg:justify-content-end">

                    <button class="btn btn-neutral">
                        <span class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="lucide lucide-user"><path
                                d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7"
                                                                                             r="4"></circle></svg></span>
                        <span class="max-lg:d-none">Увійти</span>
                    </button>

                    <button class="btn btn-neutral">
                        <span class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="lucide lucide-heart"><path
                                d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></svg> </span>
                        <span class="max-lg:d-none">Список бажань (0) 	</span>
                    </button>

                    <!-- button with dropdown  -->
                    <div class="relative">
                        <button data-toggle="mycart_1" class="btn btn-neutral has-icon-dropdown">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8"
                                                                                                             cy="21"
                                                                                                             r="1"></circle><circle
                                            cx="19" cy="21" r="1"></circle><path
                                            d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path>
                                    </svg>
                                </span>
                            <span>Кошик (0) </span>
                        </button>
                        <menu id="mycart_1" class="dropdown right-0 d-none">
                            <p class="text-secondary p-3 text-center min-w-60">
                                Ваш кошик пустий
                            </p>
                        </menu>
                    </div>
                    <a href="{% url 'account' %}" class="btn btn-neutral">
                        <span class="max-lg:d-none">Кабінет</span>
                    </a>
                    <a href="{% url 'dashboard' %}" class="btn btn-neutral">
                        <span class="max-lg:d-none">Dashboard</span>
                    </a>
                </div>

            </div>
        </div>
    </section>
</header>