<!-- header-nav -->
<nav class="py-2 bg-base max-sm:hidden">
    <div class="container">
        <ul class="nav  justify-content-center">
            <li><a class="nav-link" href="#">Гарячі пропозиції</a></li>
            <li><a class="nav-link" href="#">Рекомендовані</a></li>
            <li><a class="nav-link" href="#">Нові надходження</a></li>
            <li><a class="nav-link" href="#">Бестселери</a></li>
            <li><a class="nav-link" href="#">Подарункові набори</a></li>
            <li><a class="nav-link" href="#">Статті</a></li>
            <li class="group">
                <a data-toggle="mymenu_2" class="nav-link  has-icon-dropdown" href="#">More</a>
                <nav class="dropdown lg:min-w-50 group-hover:d-block d-none">
                    <a class="dropdown-item" href="#">Example link 1</a>
                    <a class="dropdown-item" href="#">Example link 2</a>
                    <a class="dropdown-item" href="#">Get Ecomerce UI</a>
                </nav>
            </li>
        </ul>
    </div>
    <!-- container end.// -->
</nav>
<!-- header-nav end.//-->