<div class="card card-body shadow-sm bg-secondary mb-5">
    <div class="d-flex gap-2 mb-3">
              <span class="d-flex">
                  <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#FF9017" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.8 19.2884L20.7104 24L18.6112 15.12L25.6 9.14526L16.3968 8.37474L12.8 0L9.2032 8.37474L0 9.14526L6.9888 15.12L4.8896 24L12.8 19.2884Z"></path>
                  </svg>
                  <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#FF9017" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.8 19.2884L20.7104 24L18.6112 15.12L25.6 9.14526L16.3968 8.37474L12.8 0L9.2032 8.37474L0 9.14526L6.9888 15.12L4.8896 24L12.8 19.2884Z"></path>
                  </svg>
                  <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#FF9017" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.8 19.2884L20.7104 24L18.6112 15.12L25.6 9.14526L16.3968 8.37474L12.8 0L9.2032 8.37474L0 9.14526L6.9888 15.12L4.8896 24L12.8 19.2884Z"></path>
                  </svg>
                  <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#FF9017" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.8 19.2884L20.7104 24L18.6112 15.12L25.6 9.14526L16.3968 8.37474L12.8 0L9.2032 8.37474L0 9.14526L6.9888 15.12L4.8896 24L12.8 19.2884Z"></path>
                  </svg>
                  <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#ccc" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.8 19.2884L20.7104 24L18.6112 15.12L25.6 9.14526L16.3968 8.37474L12.8 0L9.2032 8.37474L0 9.14526L6.9888 15.12L4.8896 24L12.8 19.2884Z"></path>
                  </svg>
              </span>
        <b class="text-xl"> 4.7 out of 5</b>
    </div>
    <p class="text-muted mb-5">458 global ratings</p>

    <ul class="d-flex flex-col gap-2 mb-5">
        <li class="d-flex gap-2 align-items-center"><b class="text-orange">5</b> <b>⭐</b>
            <div class="progress" role="progressbar" aria-valuenow="95%">
                <b class="progress-bar bg-orange-400" style="width: 95%"></b>
            </div>
        </li>
        <li class="d-flex gap-2 align-items-center"><b class="text-orange">4</b> <b>⭐</b>
            <div class="progress" role="progressbar" aria-valuenow="30%">
                <b class="progress-bar bg-orange-400" style="width: 30%"></b>
            </div>
        </li>
        <li class="d-flex gap-2 align-items-center"><b class="text-orange">3</b> <b>⭐</b>
            <div class="progress" role="progressbar" aria-valuenow="15%">
                <b class="progress-bar bg-orange-400" style="width: 15%"></b>
            </div>
        </li>
        <li class="d-flex gap-2 align-items-center"><b class="text-orange">2</b> <b>⭐</b>
            <div class="progress" role="progressbar" aria-valuenow="0%">
                <b class="progress-bar bg-orange-400" style="width: 0%"></b>
            </div>
        </li>
        <li class="d-flex gap-2 align-items-center"><b class="text-orange">1</b> <b>⭐</b>
            <div class="progress" role="progressbar" aria-valuenow="5%">
                <b class="progress-bar bg-orange-400" style="width: 5%"></b>
            </div>
        </li>
    </ul>

    <button class="btn btn-default">
        <svg width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.728 3.23771C12.349 2.56491 12.6595 2.2285 12.9895 2.03228C13.7856 1.5588 14.7659 1.54408 15.5753 1.99344C15.9107 2.17967 16.2307 2.5066 16.8708 3.16047C17.5109 3.81434 17.8309 4.14127 18.0133 4.48394C18.4531 5.31077 18.4387 6.31216 17.9752 7.12542C17.7831 7.46247 17.4538 7.77965 16.7952 8.41401L8.95882 15.9618C7.71069 17.1639 7.08663 17.765 6.30668 18.0696C5.52673 18.3743 4.66929 18.3518 2.95443 18.307L2.72111 18.3009C2.19905 18.2872 1.93802 18.2804 1.78628 18.1082C1.63454 17.936 1.65526 17.6701 1.69669 17.1383L1.71919 16.8496C1.8358 15.3528 1.8941 14.6044 2.18638 13.9317C2.47866 13.259 2.98282 12.7127 3.99115 11.6203L11.728 3.23771Z"
                  stroke="#14181F" stroke-width="1.5" stroke-linejoin="round"></path>
            <path d="M10.8334 3.3335L16.6667 9.16683" stroke="#14181F" stroke-width="1.5"
                  stroke-linejoin="round"></path>
            <path d="M11.6666 18.3335L18.3333 18.3335" stroke="#14181F" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Написати відгук
    </button>

</div>
