{% extends '../../../base.html' %}
{% load i18n %}

{% block content %}
{% include '../../../partials/header.html' %}
{% include '../../../partials/nav.html' %}
<div>
    <p>{% blocktrans with order_id=order.id %}Your order #{{ order_id }} has been placed successfully{% endblocktrans %}</p>
    <p>{% trans 'Total amount:' %} <strong>{{ order.total_price }}</strong></p>
    <p>{% trans 'Status:' %} {{ order.get_status_display }}</p>
    <a href="{% url 'shop' %}">{% trans 'Return to catalog' %}</a>
</div>


{% endblock %}
