<div>
    <figure class="relative">
        <button disabled class="absolute top-2 right-2 btn btn-icon btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                 stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart">
                <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
            </svg>
        </button>

        <a href="{% url 'book_detail' slug=book.slug %}"
           class="d-block overflow-hidden rounded bg-neutral-200 h-80 max-sm:h-60">
            <img src="{{ book.image_url }}" height="320" class="w-full h-full">
        </a>

        <figcaption class="py-3 d-grid gap-1">
            <p class="mb-1 h-10 overflow-hidden">
                <a href="{% url 'book_detail' slug=book.slug %}"
                   class="text-initial hover:text-primary text-decoration-none">
                    {{ book.title }}
                </a>
            </p>

            <div class="d-flex align-items-center gap-2 mb-1">
                <span class="text-orange"> ⭐⭐⭐⭐⭐  4.5  </span>
                <span class="text-secondary">(12 orders)</span>
            </div>

            <div>
                <strong>${{ book.price }}</strong>
                {% if book.old_price %}
                <del class="text-secondary">${{ book.old_price }}</del>
                {% endif %}
            </div>

            <button disabled class="btn btn-neutral lg:w-full">
                <svg width="22" height="22" viewBox="0 0 21 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3769 9.58333L18.6089 8.19985C18.7605 7.29524 18.8363 6.84293 18.5935 6.54647C18.3507 6.25 17.9044 6.25 17.0119 6.25L4.65466 6.25C3.76214 6.25 3.31588 6.25 3.07307 6.54647C2.83026 6.84293 2.90609 7.29524 3.05773 8.19985L4.0607 14.1829C4.39314 16.1659 4.55935 17.1574 5.238 17.7454C5.91665 18.3333 6.89492 18.3333 8.85147 18.3333H10.8333"
                          stroke="#14181F" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M12.4999 14.9998L19.1666 14.9998M15.8333 18.3332L15.8333 11.6665"
                          stroke="#14181F" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M15.4166 6.24984C15.4166 3.71853 13.3646 1.6665 10.8333 1.6665C8.30197 1.6665 6.24994 3.71853 6.24994 6.24984"
                          stroke="#14181F" stroke-width="1.5"/>
                </svg>
                До кошика
            </button>
        </figcaption>
    </figure>
</div>