<article class="article-wrap lg:mr-5">
    <nav class="tabs border-top">
        <a href="#" class="tab-link active">Description</a>
        <a href="#" class="tab-link">Reviews</a>
        <a href="#" class="tab-link">Company</a>
        <a href="#" class="tab-link">Usage guide</a>
    </nav>
    {{ book.description|linebreaks }}
    <!--Do Not Delete-->
    <!--<table class="table border-top mt-4">
        <tr>
            <th class="bg-secondary"> Memory size</th>
            <td>128 GB</td>
        </tr>
        <tr>
            <th class="bg-secondary"> Material type</th>
            <td> Plastic and metall</td>
        </tr>
        <tr>
            <th class="bg-secondary"> Screen resolution </td>
            <td> 12.5 inch</td>
        </tr>
        <tr>
            <th class="bg-secondary"> Power source</th>
            <td> Electricity</td>
        </tr>
        <tr>
            <th class="bg-secondary"> Compatibility</th>
            <td> Android OS, Windows</td>
        </tr>
    </table>-->
    <!--Do Not Delete-->
</article>